<h2>Editar equipo</h2>
<mat-divider></mat-divider>

<div>
    <img *ngIf="imagenLogo" hight = "180" width = "180" mat-card-image [src]="imagenLogo" >
  <div>
      <input #file id = "input" type="file" accept= 'image/*' (change)="Mostrar($event)" style="display:none">
      <button (click) = "ActivarInput()" type="button" class="btn btn-info">
        <i class="material-icons">add_photo_alternate</i>
        Agregar logo
      </button>
  </div>

  <p>
    <span style="font-weight: bold;">Nombre: </span>
    <input type="text" name="nombre" placeholder="Escribe el nombre" requiered [(ngModel)]="nombreEquipo">
  </p>
  <p>
      <span style="font-weight: bold;">Miembros del equipo</span>
  </p>
</div>
<div>
  <form>

    <div>
        <button type="button" class="btn btn-info" (click) = AbrirDialogoAgregarAlumnosEquipo()>
          <i class="material-icons">group_add</i>
            Agregar alumno
          </button>
        <button type="button" class="btn btn-primary" (click) = "AbrirDialogoMoverAlumno()"><i class="material-icons">
            compare_arrows
            </i>
            Mover alumno</button>
    </div>

    <table *ngIf="alumnosEquipo;else Aviso_no_alumnos" mat-table [dataSource]="alumnosEquipo" class="example-container mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="nombreAlumno">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.Nombre}} </td>
      </ng-container>

      <!-- Primer Apellido Column -->
      <ng-container matColumnDef="primerApellido">
        <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.PrimerApellido}} </td>
      </ng-container>

      <!-- Segundo Apellido Column -->
      <ng-container matColumnDef="segundoApellido">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.SegundoApellido}} </td>
      </ng-container>

      <!-- alumnoId Column -->
      <ng-container matColumnDef="alumnoId">
        <th mat-header-cell *matHeaderCellDef> Identificador Alumno </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
      </ng-container>

          <!-- Delete Column -->
      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let alumno">
            <button (click) = "BorrarAlumnoEquipo(alumno)" mat-icon-button matTooltip="Borrar a {{alumno.Nombre}} del equipo">
              <i class="material-icons red md-36">delete</i>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <ng-template #Aviso_no_alumnos>Este equipo no tiene alumnos</ng-template>

  </form>
</div>
<div>
    <button type="button" class="btn btn-success" (click)= "EditarEquipo()">Aceptar</button>
</div>
