<h2>Editar Grupo</h2>
<mat-divider></mat-divider>

<div>
  <p>
    <span>Nombre: </span>
    <input type="text" name="nombre" placeholder="Escribe la nombre" requiered [(ngModel)]="nombreGrupo">
  </p>
  <p>
      <span>Descripción: </span>
      <input type="text" name="descripcion" placeholder="Escribe la descripción" requiered [(ngModel)]="descripcionGrupo">
  </p>
</div>
<div>
  <button type="button" class="btn btn-info" (click) = "AbrirDialogoAgregarAlumnos()">Agregar alumno</button>
  <button type="button" class="btn btn-danger" (click) = AbrirDialogoConfirmacionBorrar()>Eliminar alumnos</button>

  <form>
    <table *ngIf="alumnosGrupoSeleccionado;else Aviso_no_alumnos" mat-table [dataSource]="alumnosGrupoSeleccionado" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        (click) = "SeleccionarTodos();"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let i = index" (click) = "Seleccionar(i);">
          <mat-checkbox (click)="$event.stopPropagation()"
            (click) = "Seleccionar(i);"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>

        </td>
      </ng-container>

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="nombreAlumno">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.Nombre}} </td>
      </ng-container>

      <!-- Primer Apellido Column -->
      <ng-container matColumnDef="primerApellido">
        <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
        <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.PrimerApellido}} </td>
      </ng-container>

      <!-- Segundo Apellido Column -->
      <ng-container matColumnDef="segundoApellido">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
        <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.SegundoApellido}} </td>
      </ng-container>

      <!-- alumnoId Column -->
      <ng-container matColumnDef="alumnoId">
        <th mat-header-cell *matHeaderCellDef> Identificador Alumno </th>
        <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.id}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>

    <div>
      <ng-template #Aviso_no_alumnos>Todavía no hay alumnos en este grupo</ng-template>
  </div>

  </form>
</div>
<div>
  <button type="button" class="btn btn-success" (click)= "EditarGrupo()">Aceptar</button>
</div>

