<div *ngIf="profesor">
  <h2>
    Sesión iniciada por profesor: {{profesor.Nombre}} {{profesor.Apellido}}
  </h2>
</div>

<form>

    <button mat-button [matMenuTriggerFor]="Inicio">Inicio</button>
    <mat-menu #Inicio="matMenu">
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="Grupos">Grupos</button>
  <mat-menu #Grupos="matMenu">
    <button mat-menu-item routerLink= "misGrupos">Mis Grupos</button>
    <button mat-menu-item routerLink= "crearGrupo" >Crear Grupo</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="Cuestionarios">Cuestionarios</button>
  <mat-menu #Cuestionarios="matMenu">
    <button mat-menu-item > Mis Cuestionarios</button>
    <button mat-menu-item>Crear Cuestionario</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="PuntosInsignias">Puntos e Insígnias</button>
  <mat-menu #PuntosInsignias="matMenu">
    <button mat-menu-item routerLink= "misPuntos">Mis Puntos e Insígnias</button>
    <button mat-menu-item routerLink= "crearPuntos">Crear Puntos e Insígnias</button>
  </mat-menu>

</form>

<button (click)= "goBack()">volver</button>

