<h3>Crear Grupo</h3>

<form [formGroup]="myForm">
  <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true">
    <!-- PRIMER PASO -->
    <mat-step [stepControl]="myForm">
      <ng-template matStepLabel>Nombre y descripción</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombreGrupo" required>
        <mat-error>Este campo es obligatorio</mat-error>
      </mat-form-field>

      <div>
        <mat-form-field>
          <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcionGrupo" required>
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button *ngIf="grupoYaCreado === false" mat-button matStepperNext (click)= CrearGrupo()>Siguiente</button>
        <button *ngIf="grupoYaCreado === true" mat-button matStepperNext (click)= EditarGrupo() >Siguiente</button>
      </div>
    </mat-step>

    <!-- SEGUNDO PASO -->
    <mat-step optional>
      <ng-template matStepLabel>
        <div>Añadir alumnos</div>
      </ng-template>
        <button (click)= "AbrirDialogoAgregarAlumnos()">Agregar alumnos</button>

      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      Grupo creado correctamente
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button (click) = "VueltaInicio();">Finalizar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div>
      <button mat-raised-button color="primary" (click)= "goBack()">Volver</button>
  </div>
</form>


