.example-container {
  overflow: auto;
}



/* th {
  background-color: #2a7af3d0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;

} */

table {
  width: 65%;
  /* text-align: center; */

}


