<h2>Equipos</h2>
<mat-divider></mat-divider>


<mat-tab-group [color]="primary" [backgroundColor]="primary" #tabs>

  <!-- LISTA DE EQUIPOS -->
  <mat-tab index = "0" label="Lista de equipos">
    <form>
      <mat-accordion *ngIf="listaEquipos;else Aviso_no_equipos">
        <mat-expansion-panel *ngFor="let equipo of listaEquipos" (click) = "AlumnosYLogoDelEquipo(equipo)">
          <mat-expansion-panel-header>

            <mat-panel-title>
              {{equipo.Nombre}}
            </mat-panel-title>
            <mat-panel-description>
              Información sobre {{equipo.Nombre}}
            </mat-panel-description>
          </mat-expansion-panel-header>
            <p>
                <img *ngIf="imagenLogo" hight = "100" width = "100" mat-card-image [src]="imagenLogo" >
                <span style="font-weight: bold;">Miembros del equipo</span>
                <mat-list role="list" *ngFor="let alumno of alumnosEquipo">
                  <mat-list-item role="listitem">{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</mat-list-item>
                </mat-list>
                <button type="button" class="btn btn-info" routerLink= "editarEquipo" (click) = "EnviarEquipoEditar(equipo, alumnosEquipo)">Editar equipo</button>
                <button type="button" class="btn btn-danger" (click) = "AbrirDialogoConfirmacionBorrar(equipo)">Eliminar equipo</button>
            </p>

        </mat-expansion-panel>
      </mat-accordion>

      <ng-template #Aviso_no_equipos>Todavía no hay equipos en este grupo</ng-template>

    </form>
  </mat-tab>



  <!-- CREAR EQUIPO -->
  <mat-tab label="Crear equipo">

    <!-- STEPPER -->
    <form [formGroup]="myForm">
      <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true" #stepper>


        <!-- PRIMER PASO -->
        <mat-step [stepControl]="myForm">
          <ng-template matStepLabel>Nombre y logo</ng-template>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombreEquipo" required>
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>

          <div>
              <input #file id = "input" type="file" accept= 'image/*' (change)="ExaminarLogo($event)" style="display:none">
              <img *ngIf="logo" hight = "100" width = "100" mat-card-image [src]="logo" >
              <button (click) = "ActivarInput()" type="button" class="btn btn-info">
                <i class="material-icons">add_photo_alternate</i>
                Agregar logo
              </button>
          </div>


          <div>
            <button *ngIf="equipoYaCreado === false" mat-button matStepperNext (click)= CrearEquipo()>Siguiente</button>
            <button *ngIf="equipoYaCreado === true" mat-button matStepperNext (click)= EditarEquipo() >Siguiente</button>
          </div>
        </mat-step>


        <!-- SEGUNDO PASO -->
        <mat-step optional>
          <ng-template matStepLabel>
            <div>Añadir alumnos</div>
          </ng-template>

          <form>

              <div>
                  <button type="button" class="btn btn-info" (click) = AbrirDialogoAgregarAlumnosEquipo()>
                    <i class="material-icons">
                      group_add
                      </i>Agregar alumno</button>
              </div>

            <table *ngIf="alumnosEquipoCreado;else Aviso_no_alumnos" mat-table [dataSource]="alumnosEquipoCreado" class="example-container mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Nombre Alumno Column -->
              <ng-container matColumnDef="nombreAlumno">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.Nombre}} </td>
              </ng-container>

              <!-- Primer Apellido Column -->
              <ng-container matColumnDef="primerApellido">
                <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.PrimerApellido}} </td>
              </ng-container>

              <!-- Segundo Apellido Column -->
              <ng-container matColumnDef="segundoApellido">
                <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.SegundoApellido}} </td>
              </ng-container>

              <!-- alumnoId Column -->
              <ng-container matColumnDef="alumnoId">
                <th mat-header-cell *matHeaderCellDef> Identificador Alumno </th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
              </ng-container>

                  <!-- Delete Column -->
              <ng-container matColumnDef=" ">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let alumno">
                    <button (click) = "BorrarAlumnoEquipo(alumno)" mat-icon-button matTooltip="Borrar a {{alumno.Nombre}} del equipo">
                      <i class="material-icons red md-36">delete</i>
                    </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <ng-template #Aviso_no_alumnos>Este equipo no tiene alumnos</ng-template>

          </form>

          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>


        <!-- PASO FINALIZAR -->
        <mat-step>
          <ng-template matStepLabel>Finalizar</ng-template>
          Equipo creado correctamente. Clique en "Finalizar" para guardar los cambios.
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-raised-button color="primary" (click) = "Finalizar()">Finalizar</button>
          </div>
        </mat-step>


      </mat-horizontal-stepper>
    </form>


  </mat-tab>
</mat-tab-group>

<div>
  <button mat-raised-button color="primary" (click)= "goBack()">Volver</button>
</div>
